{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>
<div class="container">
    <div class="card-group" display="flex">
        <div class="card">
            <img src="{% static 'mysite\images\1.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">first</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'mysite\images\2.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">second</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'mysite\images\3.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">third</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>